@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a mi sitio!</h1>
    <p>LHola, soy Jenni y los invito a verme ser pésima con html.</p>
    

    <img src="~/img/valorantfade.jpg" alt="Ejemplo de imagen" class="img-fluid mt-3" />
</div>
